# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv
env/
venv/

# OS generated
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary & Logs
*.log
*.tmp
*.bak
